@{
  Layout = "_Layout";
}


@if (@Model.IsDead())
{
    <h1>You killed @Model.GetName()!!!  You monster!</h1>
    <p><a href="/critters">Go back to your critter corrall</a></p>
}

else

{
    <h1>@Model.GetName()</h1>
    <ul>
        <li>Rest = @Model.GetRest()</li>
        <li>Hunger = @Model.GetHunger()</li>
        <li>Attention = @Model.GetAttention()</li>
    </ul>

    <p>
        <a href="@Model.GetId()/rest">Rest</a><br>
        <a href="@Model.GetId()/feed">Feed</a><br>
        <a href="@Model.GetId()/play">Play</a>
    </p>

    <p><a href="/critters">Go back to your critter corrall</a></p>
}


